services:
  postgres:
    image: postgres:18
    container_name: nexus-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: nexus_user
      POSTGRES_PASSWORD: nexus_password
      POSTGRES_DB: nexus_db
    ports:
      - "5433:5432"
    volumes:
      - nexus-postgres-data:/var/lib/postgresql

  redis:
    image: redis:8
    container_name: nexus-redis
    restart: unless-stopped
    ports:
      - "6380:6379"
    volumes:
      - nexus-redis-data:/data

volumes:
  nexus-postgres-data:
  nexus-redis-data:
